Checks: modernize-use-trailing-return-type, misc-header-include-cycle # , misc-include-cleaner, misc-const-correctness
CheckOptions:
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: none
